 .login-container {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
  margin: 0  auto ;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  height: 300px;
  width: 300px;
  margin: auto;
  border: solid #e7e7e7;
  text-align: justify;
}

input {
  padding: 8px;
  font-size: 16px;
  border: solid 1px #e7e7e7;
  margin: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #1fa2a2;
  color: white;
  border: none;
  cursor: pointer;



}

.error-message {
  border: solid white;
  color: white;
  border-radius: 5px;
  background-color: crimson;
  padding: 5px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
