<div class="container">
  <main>
    <h1>Productos</h1>
    <div>
      <label for="name">Nombre:</label>
      <input id="name" [(ngModel)]="productName" name="name">

      <label for="sku">SKU:</label>
      <input id="sku" [(ngModel)]="productSKU" name="sku">

      <label for="amount">Cantidad:</label>
      <input id="amount" type="number" [(ngModel)]="productAmount" name="amount">

      <label for="price">Precio:</label>
      <input id="price" type="number" [(ngModel)]="productPrice" name="price">

      <button (click)="onConfirm()">Confirmar</button>
    </div>





