form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  height: 350px;
  width: 400px;
  margin: auto;
  border: solid #e7e7e7;
  text-align: justify;
}

.container-register {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  gap: 10px;
  margin: 0  auto ;

}

label {
  font-weight: bold;
}



input {
  padding: 8px;
  font-size: 16px;
  border: solid 1px #e7e7e7;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #1fa2a2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1f7ca2;
  color: black;
}
 .error {
  color: #d71313;
  text-decoration: underline;
 }
